* {
    margin: 0;
}

:root {
    --text-color: white;
    --container-bg: #282c34;
    --btn-bg: #53a9a9;
    --btn-edit-bg: #ab8326;
}

.container {
    background-color: var(--container-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    text-align: center;
}

.btn {
    background-color: var(--btn-bg);
    font-weight: bold;
    margin-right: 3px;
}

.btn,
.btnGo {
    padding: 10px;
}

button,
.container {
    color: var(--text-color);
}

button,
input {
    cursor: pointer;
}

.content {
    margin-top: 50px;
}

.listItem {
    display: flex;
}

.btnGo {
    background: var(--btn-edit-bg);
}

.cityName,
.loading {
    color: var(--text-color);
    text-align: center;
}

.cityName {
    margin: 10% 0 5%;
    font-size: larger;
}

.card {
    color: var(--text-color);
    text-align: center;
    font-size: x-large;
    padding: 3%;
    background: var(--btn-bg);
    margin: 0 5px;
    width: 150px;
    box-sizing: border-box;
}
