* {
    margin: 0;
}

:root {
    --text-color: white;
    --container-bg: #282c34;
    --btn-bg: #53a9a9;
    --btn-edit-bg: #ab8326;
    --temp-color: #d2eeff;
    --time-color: #f4ff9d;
}

.container {
    background-color: var(--container-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    text-align: center;
}

.btn {
    background-color: var(--btn-bg);
    font-weight: bold;
    margin-right: 3px;
}

.btn,
.btnGo {
    padding: 10px;
}

button,
.container {
    color: var(--text-color);
}

button,
input {
    cursor: pointer;
}

input {
    font-size: larger;
    padding: 6px;
    font-size: large;
    width: 150px;
}

.content {
    margin: 50px auto 0;
    max-width: 90%;
}

.btnGo {
    background: var(--btn-edit-bg);
}

.cityName,
.loading {
    color: var(--text-color);
    text-align: center;
}

.cityName {
    margin: 10% 0 5%;
    font-size: larger;
}

.card {
    color: var(--text-color);
    text-align: center;
    font-size: x-large;
    padding: 3%;
    background: var(--btn-bg);
    margin: 0 5px;
    width: 175px;
    box-sizing: border-box;
}

.cardsContent {
    margin: 20px 0;
}

.hoursCard {
    background: var(--btn-bg);
    box-sizing: border-box;
    padding: 0 5px 5px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.hoursCardItems {
    font-size: 15px;
    margin: 0 5px;
}

.contentItem {
    display: flex;
    justify-content: center;
}

.hoursCardItem {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hourTemp {
    color: var(--temp-color);
}

.hourTime {
    color: var(--time-color);
}
